.top-buffer {
    margin-top: 20px;
}

.html {
    margin-left: 40px;
    margin-right: 40px;
}

.bankList {
    display: none;
}

.card {
    margin: 15px;
}

.horizontal-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

.field {
    display: block;
}

.grayField {
    text-align: center;
    color: grey;
}