.top-buffer {
    margin-top: 20px;
}

.html {
    margin-left: 40px;
    margin-right: 40px;
}

.bankList {
    visibility: hidden;
}

.card {
    margin: 15px;
}
.horizontal-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}